*{
    margin: 0px;
    padding: 0px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

nav{
    background-color: black;
    color: white;
    padding: 15px;
    position: fixed;
    

}

span{
    margin: 9px;
    font-size: 13px;
    opacity:0.5 ;
    padding-left: 45px;
    
   
}
#li1{
    font-size: 12px;
    opacity: 0.5;
 
}
.div1{
    padding: 10px;
    margin: 0px 15px 0px 15px;
}
.nav-section{
   text-align: left;
   display: inline-block;
   min-width: 10rem;
   
 /*  border: 2px solid red ;*/
}
.nav-section ul{
    list-style: none;
    margin: 0px 15px 0px 15px; 
    /*border: 2px solid green ;*/
    display: inline-block;
 }

 .nav-section ul li {
    padding: 5px;
    
    
 }
 #li2{
    font-size: 20px;
 }
 
 #li3{
    font-size: 13px;
 }
 .hover-section{
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-in-out ;
    height: 0;
 }
 .nav-txt-store:hover~ .hover-section-store{
    height: 300px;
    visibility: visible;
    opacity: 1;
 }
 .nav-txt-mac:hover~ .hover-section-mac{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-ipad:hover~ .hover-section-ipad{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-iphone:hover~ .hover-section-iphone{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-watch:hover~ .hover-section-watch{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-vision:hover~ .hover-section-vision{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-airpods:hover~ .hover-section-airpods{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-tv:hover~ .hover-section-tv{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-entm:hover~ .hover-section-entm{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-access:hover~ .hover-section-access{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-support:hover~ .hover-section-support{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 
   .nav-txt-cart:hover~ .hover-section-cart{
      height: 350px;
      visibility: visible;
      opacity: 1;
 }
 .mainpage{
  text-align: center;
  padding-top: 70px;
  font-size: large;
  font-weight: bold;
  color: white;
  background-image: url(./images/iphone-15-pro-review-10-1695086152260.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  
 }
 #btn{
   width: 100px;
  height: 30px;
  padding: 10px 5px 22px 5px;
  border-radius: 30px;
  background: #006EDB;
  color: #fff;
  border-color: transparent
 
 }

 #btn2{
 
  width: 100px;
  height: 30px; 
  padding: 7px 15px;
  border-radius: 15px;
  background-color:black;
  color:#2997ff;
  border-color:#006EDB;
 }
 
 .page2{
 text-align: center;
 padding-top: 70px;
 font-size: 30px;
 font-weight: bold;
 color: white;
 background-image: url(./images/Apple-iPhone-15-Pro-lineup-hero-230912_Full-Bleed-Image.jpg.large.jpg);
 height: 100%;
 width: 100%;
 background-size: cover;
 }
#btn3{
  width: 90px;
  height: 30px; 
 padding: 7px 15px;
  border-radius: 15px;
  background:white;
  color: #06c;
  border-color: #06c;
}

.page4{
  margin: 5px;
  text-align: center;
  padding-top: 70px;
  background-image: url(./images/Apple\ iPads\ with\ 15-inch\ OLED\ display\ likely\ not\ possible\ till\ 2024.jpeg);
  height: 80%;
  width: 48%;
  color: white;
  background-size: cover;
  display: inline-block;
}
.page5{
  margin: 3px;
  text-align: center;
  padding-top: 70px;
  background-image: url(./images/Macbook\ Pro\ Mockup.jpeg);
  height: 80%;
  width: 50%;
  background-size: cover;
  display: inline-block;
}

.page6{
  margin: 5px;
  text-align: center;
  padding-top: 70px;
  background-image: url(./images/hero_endframe__b8te205r9u02_large.jpg);
  height: 80%;
  width: 48%;
  color: white;
  background-size: cover;
  display: inline-block; 
}
.page7{
  margin: 3px;
  text-align: center;
  padding-top: 70px;
  background-image: url(./images/apple-intelligence-110609764-16x9.webp);
  height: 80%;
  width: 50%;
  background-size: cover;
  display: inline-block; 
}
.page8{
  margin: 5px;
  text-align: center;
  padding-top: 70px;
  background-image: url(./images/pexels-regeci-16891501.jpg);
  height: 80%;
  width: 48%;
  background-size: cover;
  display: inline-block;
}
.page9{
  margin: 3px;
  text-align: center;
  padding-top: 70px;
  background-image: url(./images/Untitled.png);
  height: 80%;
  width: 50%;
  background-size: cover;
  display: inline-block;
}
#btn4{
  width: 20%;
  height: 40px; 
  padding:7px 15px;
  border-radius: 15px;
  background: #006EDB;
  color: #fff;
  border-color: #06c;
}

#btn5{
  width: 120px;
  height: 35px; 
 padding: 7px 15px;
  border-radius: 15px;
  background:white;
  color: #06c;
  border-color: #06c;
}
.pages{

  background-image: url(./images/kgf-chapter-2-hd-poster-1024x512.jpg);
  background-size: cover;
  height: 90%;
  width: 100%;
}
#movies{
  font-size: large;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 41%;
  padding-right: 50%;
}
#btn6{
  text-align: center;
  width: 120px;
  height: 35px; 
   border-radius: 15px; 
  background:white;
  color: black;
  border-color:transparent;

}