*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

nav{
    background-color: black;
    color: white;
    padding: 15px;
    position: fixed;
    

}

span{
    margin: 11px;
    font-size: 13px;
    opacity:0.5 ;
    padding-left: 45px;
    
   
}
#li1{
    font-size: 12px;
    opacity: 0.5;
 
}
.div1{
    padding: 10px;
    margin: 0px 15px 0px 15px;
}
.nav-section{
   text-align: left;
   display: inline-block;
   min-width: 10rem;
   
 /*  border: 2px solid red ;*/
}
.nav-section ul{
    list-style: none;
    margin: 0px 15px 0px 15px; 
    /*border: 2px solid green ;*/
    display: inline-block;
 }

 .nav-section ul li {
    padding: 5px;
    
    
 }
 #li2{
    font-size: 20px;
 }
 
 #li3{
    font-size: 13px;
 }
 .hover-section{
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-in-out ;
    height: 0;
 }
 .nav-txt-store:hover~ .hover-section-store{
    height: 300px;
    visibility: visible;
    opacity: 1;
 }
 .nav-txt-mac:hover~ .hover-section-mac{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-ipad:hover~ .hover-section-ipad{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-iphone:hover~ .hover-section-iphone{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-watch:hover~ .hover-section-watch{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-vision:hover~ .hover-section-vision{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-airpods:hover~ .hover-section-airpods{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-tv:hover~ .hover-section-tv{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-entm:hover~ .hover-section-entm{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-access:hover~ .hover-section-access{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-support:hover~ .hover-section-support{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 
   .nav-txt-cart:hover~ .hover-section-cart{
      height: 350px;
      visibility: visible;
      opacity: 1;
 }
 .mainpage{
  text-align: center;
  padding-top: 70px;
  font-size: large;
  font-weight: bold;
  color: white;
  background-image: url(./images/pexels-falcon-9867098.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  
 }
 #btn{
   width: 100px;
  height: 30px;
  border-radius: 30px;
  background: #006EDB;
  color: #fff;
  border-color: transparent
 
 }

 #btn2{
 
  width: 100px;
  height: 30px; 
/*  padding: 10px; */
  border-radius: 15px;
  background-color:black;
  color:#2997ff;
  border-color:#006EDB;
 }
 
